.demo{
    background-color: #F8F8F5;
    padding-bottom: 30px;
}
.requestfordemo{


    background-color: white;
    padding-top: 8%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 16px;
    min-height: 46vh;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.requestfordemo h3{
    font-size: 25px;
    color: black;
    font-weight: 600;
}
.requestfordemo p{
    color: black;
    font-size: 15px;
    line-height: 30px;
}

.requestfordemo button:hover{
    background-color: black;
    color: rgb(149, 150, 151);
}
.requestfordemoimg{
    background-image: url("../../assets/image/eye.png");
   
    background-size: cover;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 46vh;
}

